cae-project/Manifest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CAEXFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AdditionalInformation">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:float" name="AutomationMLVersion"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="InstanceHierarchy" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="InternalElement" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element type="xs:short" name="Value" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                        <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="InternalElement" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="Value" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                              <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="InternalElement" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:short" name="Value"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Name" use="optional"/>
                                    <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ExternalInterface" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                                        <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                                        <xs:attribute type="xs:string" name="ID" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="InternalElement" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Value"/>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="Name" use="optional"/>
                                          <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="ExternalInterface" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Attribute" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="Value"/>
                                                      </xs:sequence>
                                                      <xs:attribute type="xs:string" name="Name" use="optional"/>
                                                      <xs:attribute type="xs:string" name="Unit" use="optional"/>
                                                      <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element type="xs:string" name="Value" minOccurs="0"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="Name" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="Name" use="optional"/>
                                          <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                                          <xs:attribute type="xs:string" name="ID" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="SupportedRoleClass">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Name" use="optional"/>
                                    <xs:attribute type="xs:string" name="RefBaseSystemUnitPath" use="optional"/>
                                    <xs:attribute type="xs:string" name="ID" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="SupportedRoleClass">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                              <xs:attribute type="xs:string" name="RefBaseSystemUnitPath" use="optional"/>
                              <xs:attribute type="xs:string" name="ID" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ExternalInterface" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Attribute">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Value"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Name" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                              <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                              <xs:attribute type="xs:string" name="ID" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SupportedRoleClass">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                        <xs:attribute type="xs:string" name="RefBaseSystemUnitPath" use="optional"/>
                        <xs:attribute type="xs:string" name="ID" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SupportedRoleClass" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="InternalLink" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Name" use="optional"/>
                            <xs:attribute type="xs:string" name="RefPartnerSideA" use="optional"/>
                            <xs:attribute type="xs:string" name="RefPartnerSideB" use="optional"/>
                            <xs:attribute type="xs:string" name="ID" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                  <xs:attribute type="xs:string" name="RefBaseSystemUnitPath" use="optional"/>
                  <xs:attribute type="xs:string" name="ID" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Name" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="InterfaceClassLib" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Description" minOccurs="0"/>
              <xs:element type="xs:string" name="Version" minOccurs="0"/>
              <xs:element name="InterfaceClass">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Attribute" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Name"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="InterfaceClass" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="InterfaceClass" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                              <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                        <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Name" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="SystemUnitClassLib" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SystemUnitClass" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Name" use="optional"/>
                            <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="InternalElement" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Attribute" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Value"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                              <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="InternalElement" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SupportedRoleClass">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                              <xs:attribute type="xs:string" name="RefBaseSystemUnitPath" use="optional"/>
                              <xs:attribute type="xs:string" name="ID" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SupportedRoleClass">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                        <xs:attribute type="xs:string" name="RefBaseSystemUnitPath" use="optional"/>
                        <xs:attribute type="xs:string" name="ID" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SupportedRoleClass">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SystemUnitClass" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="InternalElement" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Value"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Name" use="optional"/>
                                    <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ExternalInterface">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                                        <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                                        <xs:attribute type="xs:string" name="ID" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="SupportedRoleClass">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                              <xs:attribute type="xs:string" name="RefBaseSystemUnitPath" use="optional"/>
                              <xs:attribute type="xs:string" name="ID" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ExternalInterface" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element name="Attribute" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Value"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Name" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                              <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                              <xs:attribute type="xs:string" name="ID" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                                  <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SupportedRoleClass">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SystemUnitClass" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                                        <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="SupportedRoleClass">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="SystemUnitClass" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="Attribute" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                                              <xs:attribute type="xs:string" name="AttributeDataType" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="SupportedRoleClass">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="RefRoleClassPath" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="Name" use="optional"/>
                                    <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Name" use="optional"/>
                              <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="Name" use="optional"/>
                        <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                  <xs:attribute type="xs:string" name="RefBaseClassPath" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Name" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="FileName"/>
      <xs:attribute type="xs:float" name="SchemaVersion"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
